<!DOCTYPE html>
<include file="Public/head" title="关于 {$Think.config.APP_NAME}"/>
<include file="Public/navbar" nav-about="active" />
        <div class="main">
        <div class="container">
            <div class="jumbotron" style="background:#63c6ae;color:white;">
              <h1>URL-LIST</h1>
              <p>&nbsp;www.ijustplay.cn</p>
              <p>&nbsp;在线书签管理系统 </p>
              <div class="bdsharebuttonbox">
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                <a href="#" class="bds_more" data-cmd="more"></a>
            </div>
            <script>
                window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"URL-List | 在线书签管理系统 http://www.ijustplay.cn","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
            </script>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading">啰嗦、吐嘈、意见、建议</div>
                <div class="panel-body">
                    <!-- 多说评论框 start -->
                    <div class="ds-thread" data-thread-key="1" data-title="关于" data-url="__APP__/About"></div>
                    <!-- 多说评论框 end -->
                    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
                    <script type="text/javascript">
                    var duoshuoQuery = {short_name:"<?php echo C('DUOSUO_SHORT_NAME'); ?>"};
                        (function() {
                            var ds = document.createElement('script');
                            ds.type = 'text/javascript';ds.async = true;
                            ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                            ds.charset = 'UTF-8';
                            (document.getElementsByTagName('head')[0] 
                             || document.getElementsByTagName('body')[0]).appendChild(ds);
                        })();
                    </script>
                    <!-- 多说公共JS代码 end -->
                </div>
            </div>
        </div>
        <include file="Public/footer"/>
        </div>
<include file="Public/foot"/>