<html lang="zh-cn">
    <head>
        <title>[title]</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="url-list 在线书签管理系统" />
        <meta name="description" content="在线书签管理系统 | 收藏、分享好用的网站 | 好网站快到碗里来" />
        <meta name="author" content="http://www.ijustplay.cn/about" />
        <meta name="copyright" content="© http://www.ijustplay.cn" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="__PUBLIC__/CSS/style.css">
        <script src="http://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="__PUBLIC__/JS/inputcheck.js"></script>
    </head>

    <body>